.blocks {
  margin: 0 auto;
  position: relative;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &__item {
    height: @block-height;
    width: @block-width;
    margin: 0 0 20px;
    background: @bkg-accent;
    float: left;
    position: relative;
    overflow: hidden;
    opacity: 1;
    border: 1px solid @bkg-accent;
    & .header--h3 {
      margin: 0 0 30px;
    }
    & ul {
      position: relative;
      margin: 0;
      padding: 0;
      height: 300px;
      list-style: none;
    }
  }
  &__slider-controls {
    position: absolute;
    z-index: 12;
    bottom: 20px;
    right: 20px;
    & .slider-arrow {
      margin: 0 0 0 9px;
      cursor: pointer;
      &--prev {
        margin: 0 115px 0 0;
      }
      & svg {
        fill: #fff;
        &:hover {
          fill: @bkg-accent;
        }
      }
    }
  }
  &__slide {
    display: block;
    height: @block-height;
    width: @block-width;
    margin: 0 auto;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    &--1 {
      text-align: center;
      line-height: @block-height;
      z-index: 11;
      .header--h2 {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }
    &--2 {
      padding: 20px;
      background-color: @bkg-slide;
      z-index: 9;
      & .text {
        color: @text-db--slide;
      }
    }
    &--3,
    &--4 {
      text-align: center;
      line-height: @block-height;
    }
  }
  &__btn {
    fill: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    cursor: pointer;
    @media(min-width: @screen--small) {
      fill: #fff;
    }
    &:hover {
      fill: @bkg-accent;
    }
  }
}

.shrink {
  transform: scale(.8);
  opacity: .2;
  transition: all .5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  @media(min-width: @screen--small) {}
  & .blocks__slider-controls, & .blocks__btn {
    pointer-events: none;
    cursor: auto;
  }
  & .blocks__slide {
    background-size: 120%;
    &--1 {
      .header--h2 {
        transform: scale(1.2);
      }
    }
  }
}

.grow {
  transform: scale(1);
  background: @bkg-slide;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  & .blocks__slider-controls,
  & .blocks__zoom,
  & .blocks__play {
    pointer-events: all;
    cursor: pointer;
  }
  & .blocks__slide {
    background-size: 100%;
    &--1 {
      .header--h2 {
        transform: scale(1);
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}